* {
  box-sizing: border-box;
}

.clearfix:after {
  /* 以下の書き方はIE8以上 */
  content: "";
  clear: both;
  display: block;
}


.hiyoko{
	transition-property:all;
	transition-duration:3s;
	transition-timing-function:ease;
	background-color:#ff9;
	height:300px;
	width:100%;
}

.hiyoko:hover{
	background-color:#ff0;
	width:50%;
}


/*.hiyoko2{
	transition-property:float;
	transition-duration:1s;
	float:left;
}

.hiyoko2:hover{
	float:right;
}
*/


.ease,
.linear,
.ease-in,
.ease-out,
.ease-in-out{
	margin:10px 0;
	padding:10px;
/*	transition-property:width;
	transition-duration:3s;*/
	background-color:#ff6;
	width:100%;
}

.hover:hover .ease,
.hover:hover .linear,
.hover:hover .ease-in,
.hover:hover .ease-out,
.hover:hover .ease-in-out{
	width:50%;
}

.ease{
	transition: width 3s ease;
}
.linear{
	transition: width 3s linear;
}
.ease-in{
	transition: width 3s ease-in;
}
.ease-out{
	transition: width 3s ease-out;
}

.ease-in-out{
	transition: width 3s ease-in-out;
}



.hiyoko_img{
	width:123px;
	height:130px;
	transform: translate(100px,100px) scale(2);
}



.animation{
	margin:100px 0;
	width:300px;
	height:100px;
	background-color:red;
	animation-name:red-black;
	animation-duration:5s;
	animation-timing-function:ease-in-out;
	animation-iteration-count:infinite;
}

@keyframes red-black{
	0%{
		width:300px;
		background-color:red;
	}
	50%{
		width:100px;
	}
	100%{
		width:500px;
		background-color:black;
	}
}




